@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.backgroundImg{
    background: url(../images/travelImg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cur{
    font-family: "Cedarville Cursive", cursive;
}